/* General Style */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
  font-family: "Lato";
  src: url(fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Brown Sugar";
  src: url(fonts/Brown\ Sugar\ .otf);
}
@font-face {
  font-family: "Better Saturday";
  src: url(fonts/Better\ Saturday.otf);
}

:root {
  /* colors */
  --light: #ffecd2;

  /* fonts */
  --fancy-font: "Better Saturday", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --plain-font: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --soul-font: "Brown Sugar", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html {
  box-sizing: border-box;
  /* TODO font main lato, header better saturday, header brown sugar */
  /* TODO color #ffecd2 */
  color: #ffecd2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Better Saturday", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--light);
  font-size: 24px;
}

a:visited {
  color: var(--light);
}

h2 {
  font-size: 1rem;
}
/* App style  */

.App {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: clip;
}

.background_top {
  height: 30vh;
  width: 100vw;
  background-image: url(./assets/background-top.webp);
  background-repeat: repeat-x;
  background-size: cover;
}

.background_bottom {
  height: 30vh;
  width: 100vw;
  background-image: url(./assets/background-bottom.webp);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: bottom;
}

@media only screen and (min-width: 1500px) {
  .background_top {
    height: 30vh;
    width: 100vw;
    background-size: contain;
  }

  .background_bottom {
    height: 30vh;
    width: 100vw;
    background-size: contain;
  }
}

@media only screen and (max-width: 900px) {
  .background_top {
    height: 25vh;
    width: 100vw;
  }

  .background_bottom {
    height: 25vh;
    width: 100vw;
  }
}

/* Home page style */

.home_container {
  display: flex;
  align-items: center;
  flex-direction: column;

  flex-grow: 1;
}

/* VoiceBox page style */

.voice-box_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.voice-box_title {
  font-size: 48px;
}

.voice-box_recorder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: var(--plain-font);
}

/* User Identifier component style */
.user-identifier_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-identifier_label-name {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-align: center;
}
.user-identifier_input-name {
  font-size: 2rem;
  padding: 8px 8px;
  margin: 1rem;
  background-color: var(--light);
  font-family: var(--plain-font);
  border-radius: 5rem;
  text-align: center;
  box-shadow: 0px 0px 5px 5px var(--light);
  border: none;
}

.user-identifier_input-name:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 5px var(--light);
}

.user-identifier_submit {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: var(--light);
  font-family: var(--plain-font);
  border-radius: 5rem;
  text-align: center;
  box-shadow: 0px 0px 5px 5px var(--light);
  border: none;
  cursor: pointer;
}

.user-identifier_submit:hover {
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 5px var(--light);
}

@media only screen and (max-width: 900px) {
  .user-identifier_label-name {
    font-size: 1.5rem;
  }
  .user-identifier_input-name {
    font-size: 1rem;
    padding: 0;
  }
  .user-identifier_submit {
    font-size: 1rem;
  }
}
