/* General Style */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
  font-family: "Lato";
  src: url(fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Brown Sugar";
  src: url(fonts/Brown\ Sugar\ .otf);
}
@font-face {
  font-family: "Better Saturday";
  src: url(fonts/Better\ Saturday.otf);
}

:root {
  /* colors */
  --light: #ffecd2;

  /* fonts */
  --fancy-font: "Better Saturday", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --plain-font: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --soul-font: "Brown Sugar", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html {
  box-sizing: border-box;
  /* TODO font main lato, header better saturday, header brown sugar */
  /* TODO color #ffecd2 */
  color: #ffecd2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Better Saturday", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--light);
  font-family: var(--plain-font);
}

a:visited {
  color: var(--light);
}

button {
  padding: 16px 16px 16px 16px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid var(--light);
  border-radius: 10px;
  background-color: black;
  color: var(--light);
  cursor: pointer;
}

/* App style  */

.App {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: clip;
}

.background_top {
  height: 25vh;
  width: 100vw;
  background-image: url(./assets/background-top.webp);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: top;
  position: fixed;
}

.background_bottom {
  height: 25vh;
  width: 100vw;
  background-image: url(./assets/background-bottom.webp);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: bottom;
  position: fixed;
  bottom: 0;
}
.app_footer {
  font-family: var(--soul-font);
  font-size: 1rem;
  padding-bottom: 15vh;
  text-align: center;
  font-weight: bold;
}

@media only screen and (min-width: 1500px) {
  .background_top {
    height: 30vh;
    width: 100vw;
    background-size: contain;
  }

  .background_bottom {
    height: 30vh;
    width: 100vw;
    background-size: contain;
  }
}

@media only screen and (max-width: 900px) {
  .background_top {
    height: 25vh;
    width: 100vw;
  }

  .background_bottom {
    height: 25vh;
    width: 100vw;
  }
}

/* Home page style */

.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 20vh 0 10vh 0;
}
.home_title {
  font-size: 5.5rem;
}

.home_links {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.link_subtitle {
  font-size: 1rem;
  font-style: italic;
}

@media only screen and (max-width: 900px) {
  .home_title {
  }
  .link_nav {
    font-size: 0.5rem;
  }
}

/* VoiceBox page style */

.voice-box_container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  flex-grow: 1;
  padding: 23vh 0 5vh 0;
}
.voice-box_header {
  text-align: center;
  margin-bottom: 3rem;
}
.voice-box_title {
  font-size: 4rem;
}

.voice-box_link_home {
  padding: 4px 8px 8px 8px;
  font-size: large;
  border: 1px solid var(--light);
  border-radius: 10px;
}

.voice-recorder {
  padding-top: 2rem;
  font-family: var(--plain-font);
}
.voice-box_recorder_heading {
  padding-bottom: 2rem;
}
.voice-box_recorder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.voice-box_recording {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.recording_upload {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.upload_preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.recording_status {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.recording_icon {
  width: 1rem;
  height: 1rem;
  background-color: red;
  animation: blink 2.5s infinite ease-in-out;
  border-radius: 50%;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.recording_time {
  color: var(--light);
}

/* User Identifier component style */
.user-identifier_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-identifier_label-name {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-align: center;
}
.user-identifier_input-name {
  font-size: 2rem;
  padding: 8px 8px;
  margin: 1rem;
  background-color: var(--light);
  font-family: var(--plain-font);
  border-radius: 5rem;
  text-align: center;
  border: none;
}

.user-identifier_submit {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 5rem;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .user-identifier_label-name {
    font-size: 1.5rem;
  }
  .user-identifier_input-name {
    font-size: 1rem;
    padding: 0;
  }
  .user-identifier_submit {
    font-size: 1rem;
  }
}

/* FAQs Page Style */

.faqs_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--plain-font);
  padding-top: 25vh;
}
.faqs_header {
  text-align: center;
  padding-bottom: 3rem;
}
.faqs_title {
  font-family: var(--fancy-font);
  font-size: 3rem;
  padding-bottom: 1rem;
}

.faqs_link_home {
  padding: 4px 8px 8px 8px;
  font-size: large;
  border: 1px solid var(--light);
  border-radius: 10px;
}

.faqs_questions {
  padding: 0 25vw;
  padding-bottom: 3rem;
}

.faqs_question {
  padding-bottom: 2rem;
}

.question {
  cursor: pointer;
  font-size: 2rem;
}

.answer {
  font-style: italic;
  padding-top: 1rem;
  user-select: none;
}

.faqs_link_title {
  padding: 4px 8px 8px 8px;
  margin-top: -2rem;
  margin-bottom: 2rem;
  font-size: large;
  border: 1px solid var(--light);
  border-radius: 10px;
  z-index: 1;
}

/* details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
} */
